In [1]:
## Load Libraries

import pandas as pd
import numpy as np
import os
import re
import pytz
import yfinance as yf

pd.set_option('display.max_columns', 50)

In [2]:
## Load Company Data

corps = pd.read_csv("data/corps.csv")

industrials = pd.read_csv("data/corps/industrials.csv")
healthcare = pd.read_csv("data/corps/healthcare.csv")
finance = pd.read_csv("data/corps/finance.csv")
tech = pd.read_csv("data/corps/tech.csv")
consumer = pd.read_csv("data/corps/consumer.csv")
energy = pd.read_csv("data/corps/energy.csv")

In [8]:
## Load and Clean News Data

dfs = []

for ticker in industrials["Ticker"]:
    file_path = os.path.join("data/industrials_073124/news_feed", f"{ticker}.csv")
    if os.path.exists(file_path):
        df = pd.read_csv(file_path, index_col=0)
        df["Ticker"] = ticker
        dfs.append(df)

news1 = pd.concat(dfs, ignore_index=True)
del dfs

pattern = f"{'2024-06-18'}|{'2024-06-19'}"
news1 = news1[~news1["Found"].str.contains(pattern)].reset_index(drop=True)

# Some datetimes will be 2024-06-19 now because of timezone conversion
eastern = pytz.timezone('US/Eastern')
news1["Published"] = pd.to_datetime(news1["Published"]).dt.tz_convert(eastern).dt.tz_localize(None)
news1["Found"] = pd.to_datetime(news1["Found"]).dt.tz_localize('UTC').dt.tz_convert(eastern).dt.tz_localize(None)
news1["Recency"] = news1["Found"] - news1["Published"]

# Order by found datetime
news1 = news1.sort_values("Found").reset_index(drop=True)
# news1["Headline"] = "Heading: " + news1["Heading"] + "; Subheading: " + news1["Subheading"]

news = news1[["Heading", "Subheading", "Publisher", "Found", "Recency", "Ticker"]].copy()
news["Publisher"] = [publisher.replace("www.", "")
                      if publisher.startswith("www.") else publisher
                      for publisher in news["Publisher"]]
news2 = news.copy()
del news1

In [ ]:
## Download Price Data

# for ticker in industrials["Ticker"]:
#     try:
#         prices = yf.Ticker(ticker).history(period="3mo", interval="1h").reset_index()
#         prices['Datetime'] = prices['Datetime'].dt.tz_localize(None)
#         file_path = os.path.join("data/industrials_073124/prices", f"{ticker}.csv")
#         prices.to_csv(file_path, index=False)
#         print(f"Price data saved for {ticker}")
#     except Exception as e:
#         print(f"Failed to download price data for {ticker}: {str(e)}")

# Takes about 3 min

In [10]:
## Load Price Data

dfs = []

for ticker in industrials["Ticker"]:
    file_path = os.path.join("data/industrials_073124/prices", f"{ticker}.csv")
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        df["Ticker"] = ticker
        dfs.append(df)

prices = pd.concat(dfs, ignore_index=True)
prices["Datetime"] = pd.to_datetime(prices["Datetime"]).dt.tz_localize(None)
prices1 = prices.copy()
del dfs

In [11]:
## Prepare Prices Data

prices1 = prices.copy()
prices1.insert(1, "Ticker", prices1.pop("Ticker"))
prices1 = prices1.rename(columns={"Datetime": "Time", "Stock Splits": "Stock_Splits"})
prices1.columns = [col if i == 1 else col + '-1' for i, col in enumerate(prices1.columns)]
# Lead variables
prices1["Time"] = prices1.groupby("Ticker")["Time-1"].shift(-1)
prices1["Open"] = prices1.groupby("Ticker")["Open-1"].shift(-1)
prices1["Open+1"] = prices1.groupby("Ticker")["Open-1"].shift(-2)
prices1["Close+1"] = prices1.groupby("Ticker")["Close-1"].shift(-2)
# Delta variables
prices1["Delta-1"] = ((prices1["Close-1"] - prices1["Open-1"]) / prices1["Open-1"]) * 100
prices1["Delta+1"] = ((prices1["Close+1"] - prices1["Open+1"]) / prices1["Open+1"]) * 100
prices1["Open_Diff"] = ((prices1["Open"] - prices1["Close-1"]) / prices1["Close-1"]) * 100
prices1["High-1"] = ((prices1["High-1"] - prices1["Open-1"]) / prices1["Open-1"]) * 100
prices1["Low-1"] = ((prices1["Low-1"] - prices1["Open-1"]) / prices1["Open-1"]) * 100
                                            
prices1 = prices1[["Time", "Ticker", "Open-1", "High-1", "Low-1", "Delta-1", "Volume-1", "Dividends-1",
                   "Stock_Splits-1", "Open_Diff", "Delta+1"]]

prices1 = prices1[(prices1["Time"] < "2024-08-01") & (prices1["Time"] >= "2024-06-01")].reset_index(drop=True)
prices2 = pd.merge(prices1,
                    corps[["Ticker", "NameCln", "Sector", "Cap"]],
                    on="Ticker", how="left").rename(columns={"NameCln": "Company"}).dropna()
prices2.head()

,Time,Ticker,Open-1,High-1,Low-1,Delta-1,Volume-1,Dividends-1,Stock_Splits-1,Open_Diff,Delta+1,Company,Sector,Cap
0,2024-06-03 09:30:00,LIN,430.309998,1.319977,-0.062743,1.271177,480713,0.0,0.0,-0.376333,-0.555145,Linde,Basic Materials,206652.0
1,2024-06-03 10:30:00,LIN,434.140015,0.562024,-0.498689,-0.192339,267563,0.0,0.0,-0.019615,0.180962,Linde,Basic Materials,206652.0
2,2024-06-03 11:30:00,LIN,433.220001,0.251603,-0.595537,-0.555145,192816,0.0,0.0,0.049905,0.121587,Linde,Basic Materials,206652.0
3,2024-06-03 12:30:00,LIN,431.029999,0.336406,-0.225043,0.180962,441609,0.0,0.0,-0.005788,0.041627,Linde,Basic Materials,206652.0
4,2024-06-03 13:30:00,LIN,431.785004,0.195700,-0.228126,0.121587,100792,0.0,0.0,0.018509,0.375592,Linde,Basic Materials,206652.0

In [13]:
## Find Closest Trading Hours for News

news2 = news.copy()

price_times = pd.DataFrame({"Datetime": prices["Datetime"].drop_duplicates().sort_values().reset_index(drop=True)})

last_indices = np.searchsorted(price_times["Datetime"].values, news2["Found"].values) - 1
last_indices[last_indices < 0] = 0
news2["Time-1"] = price_times.iloc[last_indices]["Datetime"].values

next_indices = np.searchsorted(price_times["Datetime"].values, news2["Found"].values)
next_indices[next_indices == len(price_times["Datetime"])] = len(price_times["Datetime"]) - 1
news2["Time"] = price_times.iloc[next_indices]["Datetime"].values

news2 = news2[news2["Time"] < "2024-08-01"].reset_index(drop=True)
news2 = news2[["Time", "Ticker", "Heading", "Subheading", "Publisher", "Found", "Recency",]].dropna()
news2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185408 entries, 0 to 185411
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Time        185408 non-null  datetime64[ns]
 1   Ticker      185408 non-null  object
 2   Heading     185408 non-null  object
 3   Subheading  185408 non-null  object
 4   Publisher   185408 non-null  object
 5   Found       185408 non-null  datetime64[ns]
 6   Recency     185408 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), object(4), timedelta64[ns](1)
memory usage: 11.3+ MB

In [29]:
## Replace HTML entities

html_entities = {
    "&amp;": "&",
    "&lt;": "<",
    "&gt;": ">",
    "&quot;": "\"",
    "&apos;": "'",
    "&nbsp;": " ",
    "&copy;": "",
    "&reg;": "",
    "&euro;": "€",
    "&pound;": "£",
    "&yen;": "¥",
    "&cent;": "¢",
    "&deg;": "°",
    "&plusmn;": "±",
    "&para;": "",
    "&sect;": "",
    "&bull;": "",
    "&hellip;": "",
    "&trade;": "",
    "&mdash;": "—",
    "&ndash;": "–",
    "&lsaquo;": "",
    "&rsaquo;": "",
    "&laquo;": "",
    "&raquo;": "",
    "&permil;": "",
    "&divide;": "/",
    "&times;": "×"
}

def replace_html_entities(text, entity_dict):
    for key, value in entity_dict.items():
        text = text.replace(key, value)
    return text

news3 = pd.merge(news2, corps[["Ticker", "NameCln"]], on="Ticker", how="left")
news3["Heading"] = news2["Heading"].apply(lambda x: replace_html_entities(x, html_entities))
news3["Subheading"] = news2["Subheading"].apply(lambda x: replace_html_entities(x, html_entities))
news3["Name"] = news3["NameCln"]
news3 = news3[["Time", "Ticker", "Name", "Heading", "Subheading", "Publisher", "Found", "Recency"]]

In [132]:
def search_name(name):
    terms = name.split(" ")
    name = terms[0]
    if len(name) < 4:
        name = " ".join(terms[0:2])
    if "-" in name:
        terms = name.split("-")
        if len(terms[0]) > 4:
            name = terms[0]
        else:
            pass
    return name

news3["Search_Name"] = news3["Name"].apply(search_name)

news3["In_Heading"] = news3.apply(
    lambda x: 1
    if pd.notna(x["Search_Name"]) and pd.notna(x["Heading"]) and x["Search_Name"].lower() in x["Heading"].lower()
    else 0,
    axis=1
)

news4 = news3[news3["In_Heading"]==1].copy().drop(columns=["Search_Name", "In_Heading"]).reset_index(drop=True)

In [133]:
## Changes in News Headline Frequency

freq3 = news3.groupby("Name")["Name"].size().sort_values(ascending=False).reset_index(name="Count")
freq3["Percent_Old"] = round((freq3["Count"] / len(news3)) * 100, 2)
freq4 = news4.groupby("Name")["Name"].size().sort_values(ascending=False).reset_index(name="Count")
freq4["Percent_New"] = round((freq4["Count"] / len(news4)) * 100, 2)
freq = pd.merge(freq3[["Name", "Percent_Old"]], freq4[["Name", "Percent_New"]], on="Name", how="left")
freq["Diff"] = round((freq["Percent_New"] - freq["Percent_Old"]), 2)
freq.sort_values("Diff", ascending=False).head(10).reset_index(drop=True)

                 Name  Percent_Old  Percent_New  Diff
0              Boeing         1.14         3.30  2.16
1             Eastern         1.39         2.53  1.14
2       Gold Resource         1.04         2.11  1.07
3            Team Inc         1.13         2.01  0.88
4            Reliance         1.10         1.96  0.86
5                  3M         1.16         1.92  0.76
6               Fedex         0.93         1.54  0.61
7  Southwest Airlines         1.17         1.77  0.60
8     Energy Recovery         0.93         1.50  0.57
9               Deere         0.97         1.52  0.55

In [144]:
## Save Cleaned Data

prices2.to_csv("data/industrials_073124/prices.csv")
news4.to_csv("data/industrials_073124/news.csv")